.label{

}

@font-face {
    font-family: alagard;
    src: url(alagard/alagard.ttf)
}

.button{
    -fx-font-family: alagard;
    -fx-font-size: 30;
    -fx-background-image: url(Img/Button.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: 200 55;
}

.root{
    -fx-background-image: url(Img/TestBackground.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1500, 1500;
    -fx-background-position: center center;

}

.imageView{
    -fx-image: url(Img/background2.png);
}

#Logo{
    -fx-image: url(Img/PathsLogo.png);
}

#AssetTemplate{
    -fx-background-size: 200 90;
}
